<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shuyun.qapp">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 其他权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".net.SykscApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:replace="label,allowBackup">

        <!-- 友盟Key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="581bf94d734be436a600147a" />
        <!-- 渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- 腾讯统计 -->
        <meta-data
            android:name="TA_APPKEY"
            android:value="Aqc1105860265" />
        <!-- 注意：若填写的渠道为纯数字字符串类型，请不要超过int表示的范围！ < -->
        <!-- MID3.5(mid-sdk-3.5.jar) 以上版本请务必增加此配置 -->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.shuyun.qapp.TENCENT.MID.V3"
            android:exported="true" />

        <!--阿里推送-->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="23566190" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="c33e2f3694abddfc1ee739c733cfca41" />

        <!-- 阿里消息接收监听器  -->
        <receiver
            android:name=".receiver.MyALIMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 欢迎页 -->
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页 -->
        <!-- 首页 -->
        <activity
            android:name=".ui.homepage.HomePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- 通过浏览器Url启动app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="qapp"
                    android:scheme="com.shuyun" />
                <!-- <a href="[scheme]://[host]/[path]?[query]">启动应用程序</a> -->
            </intent-filter>
        </activity>
        <!-- 登录页 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 绑定微信 -->
        <activity
            android:name=".ui.login.BindPhoneNumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 消息页 -->
        <activity
            android:name=".ui.homepage.InformationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 修改个人信息 -->
        <activity
            android:name=".ui.mine.ChangePersonalInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 修改手机号 -->
        <activity
            android:name=".ui.mine.ChangePhoneNumActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 实名认证页面 -->
        <activity
            android:name=".ui.mine.RealNameAuthActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 实名认证结果 -->
        <activity
            android:name=".ui.mine.AuthResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 账户记录 -->
        <activity
            android:name=".ui.mine.CashRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 系统设置 -->
        <activity
            android:name=".ui.mine.SystemSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 联系我们 -->
        <activity
            android:name=".ui.webview.WebPublicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 答题记录 -->
        <activity
            android:name=".ui.mine.AnswerRecordActivity"
            android:screenOrientation="portrait" />
        <!-- 答题记录分享 -->
        <activity
            android:name=".ui.mine.ShareAnswerRecordActivity"
            android:screenOrientation="portrait" />
        <!-- 答题记录new -->
        <activity
            android:name=".ui.mine.AnswerRecordNewActivity"
            android:screenOrientation="portrait" />
        <!-- 我的奖品 -->
        <activity
            android:name=".ui.mine.MinePrizeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 更换绑定手机号 -->
        <activity
            android:name=".ui.mine.ChangePhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 答题历史 -->
        <activity
            android:name=".ui.answer.AnswerHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 我的界面，反馈. -->
        <activity
            android:name=".ui.mine.FeedbackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 现金提现结果页 -->
        <activity
            android:name=".ui.mine.CashResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 分类 -->
        <activity
            android:name=".ui.classify.ClassifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- H5跳转页面 -->
        <activity
            android:name=".ui.webview.WebH5Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 更改密码 -->
        <activity
            android:name=".ui.mine.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 动态权限 -->
        <activity
            android:name=".ui.login.PermissionsActivity"
            android:screenOrientation="portrait" />
        <!-- 其他设置之账号注销 -->
        <activity
            android:name=".ui.mine.OtherSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 账户注销规则 -->
        <activity
            android:name=".ui.mine.AccountLogoutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 上传申请函 -->
        <activity
            android:name=".ui.mine.UploadLetterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 摄像头拍照之内容提供器 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.shuyun.qapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 答题对战首页 -->
        <activity
            android:name=".ui.against.MainAgainstActivity"
            android:screenOrientation="portrait" />
        <!-- 自由对战首页 -->
        <activity
            android:name=".ui.against.FreeMainActivity"
            android:screenOrientation="portrait" />
        <!-- 自由对战题组详情 -->
        <activity
            android:name=".ui.against.FreeDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 匹配对手 -->
        <activity
            android:name=".ui.against.MatchingActivity"
            android:screenOrientation="portrait" />
        <!-- 答题对战 -->
        <activity
            android:name=".ui.against.AgainstActivity"
            android:screenOrientation="portrait" />
        <!-- 答题对战结果页 -->
        <activity
            android:name=".ui.against.AgainstResultActivity"
            android:screenOrientation="portrait" />
        <!-- 账号注销结果页 -->
        <activity
            android:name=".ui.mine.LogOutResultActivity"
            android:screenOrientation="portrait" />
        <!-- H5答题页 -->
        <activity
            android:name=".ui.webview.WebAnswerActivity"
            android:screenOrientation="portrait" />
        <!-- H5我的奖品开宝箱页 -->
        <activity
            android:name=".ui.webview.WebPrizeBoxActivity"
            android:screenOrientation="portrait" />
        <!-- 积分兑换 -->
        <activity
            android:name=".ui.integral.IntegralExchangeActivity"
            android:screenOrientation="portrait" />
        <!-- 积分开宝 -->
        <activity
            android:name=".ui.integral.IntegralMainActivity"
            android:screenOrientation="portrait" />
        <!-- 开奖历史 -->
        <activity
            android:name=".ui.integral.OpenPrizeHistoryActivity"
            android:screenOrientation="portrait" />
        <!-- 我的奖券 -->
        <activity
            android:name=".ui.integral.MyPrizeActivity"
            android:screenOrientation="portrait" />
        <!-- 宝贝详情 -->
        <activity
            android:name=".ui.integral.PrizeDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- 兑换结果页 -->
        <activity
            android:name=".ui.integral.ExchangeResultActivity"
            android:screenOrientation="portrait" />
        <!-- 注册输入手机号 -->
        <activity
            android:name=".ui.login.RegisterPhoneActivity"
            android:screenOrientation="portrait" />
        <!-- 输入验证码 -->
        <activity
            android:name=".ui.login.VerifyCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 设置密码 -->
        <activity
            android:name=".ui.login.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 现金提现 -->
        <activity
            android:name=".ui.mine.NewCashWithdrawActivity"
            android:screenOrientation="portrait" />
        <!-- 添加用户信息 -->
        <activity
            android:name=".ui.mine.AddWithdrawInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 提现结果 -->
        <activity
            android:name=".ui.mine.WithdrawResultActivity"
            android:screenOrientation="portrait" />
        <!-- 红包提现 -->
        <activity
            android:name=".ui.mine.NewRedWithdrawActivity"
            android:screenOrientation="portrait" />
        <!-- 宝箱记录 -->
        <activity
            android:name=".ui.mine.BoxRecordActivity"
            android:screenOrientation="portrait" />
        <!--我的道具-->
        <activity
            android:name=".ui.mine.MyPropsActivity"
            android:screenOrientation="portrait" />
        <!--glide加载图片变绿-->
        <meta-data
            android:name="com.shuyun.qapp.utils.GlideConfiguration"
            android:value="GlideModule" />
        <!--积分账户-->
        <activity
            android:name=".ui.mine.IntegralAccountActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>